
header {
    min-height: 100vh;
    background: url(../../Assets/Background.png);
    background-size: cover;
    background-position: center;
}
/*Course Name*/
header .wrapper
{
    position: relative;
    height: 100vh;

}
header .cta
{
    position:  absolute;
    bottom:  0;
    right: 0;
    width: 450px;
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 20px 20px 0px 0px;
    padding: 50px 40px;
}

/*The Course Name Text */
header .cta .course-name {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    position: relative;

    color: #FFFFFF;
}

header .cta .course-name::after
{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: var(--red-color);
    left: 0;
    bottom: -10px;
}
/*Big Text*/
header .cta h1
{
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    
    color: #FFFFFF;
}

header .cta .demo-btn
{
    background: var(--red-color);
    border-radius: 12px;
    color: #FFFFFF;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
   
}
header .cta .demo-btn:hover
{
    
    transition: 0.5s ease-in-out;
    color: black;

    
}

/*End of header*/

/*Tablet version */
@media (max-width: 1040px)
{
    header .cta{
        width: 356px;
    }
}

/*SmartPhone version */
@media (max-width: 720px)
{
    header .cta
    {
        width: unset;
        right: 32px;
        left: 32px;
    }
    header .cta h1
    {
        font-size: 32px;
        color: #FFFFFF;
    }
}
