#info .info-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
    margin-top: 60px;
}

#info .info-content .amount2
{
    font-weight: 900;
    font-size: 34px;
    line-height: 48px;
    
    color: #FFFFFF;
}
#info .info-content .amount1 {
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;

    color: #FFFFFF;
}
#info .info-content .type
{
    font-weight: 500;
    font-size: 23px;
    line-height: 41px;
        /* identical to box height */
    color: #FFFFFF;
}

#info .wrapper
{
    position: relative;
}

#info .bgElement2
{
    position: absolute;
    left: 0;
    top: 0;
}

/* Smartphone version */

@media (max-width: 720px)
{
    #info .content-container
    {
        flex-direction: column;
        gap: 80px;
    }
    #info .content-container img{
        height: 100px;
    }
    #info .info-content .amount1{
        font-size: 32px;
    }
    #info .info-content .amount2{
        font-size: 32px;
    }
    #info .info-content .type
    {
        font-size: 24px;
    }

    #info .bgElement2
    {
        left: 32px;
    }
}