:root {

  --dark-grey:#181E1E;
  --dark-color: #000000;
  --red-color: #E63946;
  --pink-color:#FF6864;
  --yellow-color:#FF6864;
  --white-color:#FFFFFF;

}
@font-face {
  font-family: Mons-classic;
  src: url(../Font/static/Montserrat-Black.ttf);
}
@font-face {
  font-family: Mons-bold;
  src: url(../Font/static/Montserrat-Bold.ttf);
}
*
{
  text-decoration: none;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}

body
{
  
  margin: 0;
  font-family: Mons-bold;
}
html
{
  scroll-behavior: smooth;
}

/* This is wrapper of Navbar */
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
a{
  text-decoration:  none;
}

section
{
  padding: 80px 0;
  color: #FFFFFF;
}

section h2
{
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  position: relative;
}
section h2::after
{
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background: var(--red-color);
  left: 0;
  bottom: -10px;
}

.black
{
  background: #000000;
}
section .content-container
{
  display: flex;
}

.dark-grey
{
  background: var(--dark-grey);
}

.pink
{
  background: var(--pink-color);
}
/*Tablet version*/
@media (max-width: 1040px)
{
  .wrapper
  {
    max-width: 694px;
  }
}

/*Iphone version*/
@media (max-width: 720px)
{
  .wrapper
  {
    padding: 0 32px;
  }
  section h2
  {
    font-size: 24px;
  }
  section h2::after{
    width: 50px;
    bottom: 0;
  }
}




