#topics .topic-image img
{
    width: 558px;
    object-fit: cover;
}

#topics .Topic-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 24px;

}

#topics .Topic-list li
{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
        
    color: #FFFFFF;
    margin: 24px 0;
    position: relative;
}

#topics .Topic-list li::before
{
    content: "";
    position: absolute;
    background: var(--red-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -24px;
    top: 50%;
    transform: translateY(-5);
}

#topics .content-container
{
    justify-content: space-between;
    padding: 12px;
}

#topics .wrapper
{
    position: relative;
}

#topics .bg-element1
{
    position: absolute;
    right: -24px;
    bottom: 0;
}

/*Tablet version*/
@media (max-width: 1040px)
{
    #topics .topic-image img{
        width: 385px;
        height: 280px;
    }
}

/*smartphone version*/
@media (max-width: 720px)
{
    #topics .topic-image img{
        display: none;
    }

    #topics .bg-element1
    {
        right: 32px; 
    }
}